* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
	--light: #ecd7d7;
	--mid: rgb(201, 132, 11);
	--gray: rgb(76, 76, 75);
	--dark: #2a2a2a;
}

/*** Navigation Bar ***/

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mid);
	color: var(--dark);
	position: sticky;
	top: 0;
	z-index: 50;
}

nav a {
	margin: 0 2rem;
	padding: 0 3rem;
	text-decoration: none;
	color: var(--gray);
}

nav a:hover {
	color: var(--light);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--gray);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mid);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}
	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav h3 {
		font-size: 1.5rem;
	}

	nav a {
		font-size: 1.25rem;
		text-decoration: none;
	}
}

.footer {
	margin: 0;
	display: flex;
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: var(--dark);
	color: rgb(0, 0, 0);
	height: 5vh;
}

footer nav a {
	color: var(--mid);
}
